<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <form action="/login"method="post">
        <label for = 'email'>Email</label><!-- for and name should be same -->
        <input type='email' name ='email' id="email"><br>
         <label for = 'passs'>password</label>
        <input type='text' name ='passs' id="passs"><br>
        <button type="submit">login</button>
        

    </form>
</body>
</html>